.top{color:#000000;
    font-weight:4;
    background-color:#ffffff;
    padding:5px 0px;  }
.top h1{
     text-align:center;
     font-family:'Courier';}
h1 span{padding-left:30px;
        color:#6F6F6F;
        font-size:20px;
        font-weight:4;
        font-family:serif;}
.top-contents{
      background-color:#555555;
     padding:20px 20px;}
.top-contents-1{
  padding:20px 20px;
  color:#ffffff;
  font-size:20px;
  text-decoration:none;
  width:20%;
  transition:all 1s;
}
.top-contents-1:hover{
         opacity:0.8;
         background-color: #55acee;
}
main{background-color:#f7f7f7;}
.main{width:800px;
      margin:auto;

    }
.main-left{
     width:90%;
     background-color:#fff;
     padding:20px 20px;
     margin-top:10px;
     border-top:30px #f7f7f7 solid;
     font-weight:lighter;
}
.main-left h1{
  font-weight:normal;
  border-left:8px #191970 solid;
  background-color:#f7f7f7;
  padding:20px 2px;
  text-align:center;}
.main-left h2{
  font-weight:lighter;
}
.main-left h3{
  font-weight:lighter;
  color:#7b7b7b;
  color:#000;
  padding:50px 0px;
}
img{
  width:700px;
}
.main-left span{
  color:#66CCFF;
}
.introduction-picture{
  width:80px;
  border:2px #000 solid;
  margin:0px 5px;
}
.main-picture{
  width:680px;
}
.main-logo{
  color:#7b7b7b;
}
